/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px courier, futura-pt, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }

img {
  width: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width */
div.index-title {
  transition: background-color 0.2s ease, color 0.2s ease;
  float: left;
  color: white;
  background-color: black;
  padding: 0px 25px;
  height: 40px;
  margin: 0px 4px 0px;
  border: 3px solid black;
  text-align: center;
  line-height: 38px;
}

div.index-date {
  transition: background-color 0.2s ease, color 0.2s ease;
  color: white;
  background-color: black;
  width: auto;
  overflow: hidden;
  height: 40px;
  margin: 4px 0px;
  border: 3px solid black;
  text-align: center;
  line-height: 38px;
}

li.index-item:hover div.index-title {
  background-color: #FFFF00;
  color: black;
}

li.index-item:hover div.index-date {
  background-color: #FFFF00;
  color: black;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  width: 100%;
}

ul.posts li {
  line-height: 1.75em;
  width: 100%;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 0px auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

.site .footer .social {
  margin-right: 3em;
}

.site .footer .social a {
  float: left;
  width: 32px;
  margin-left: 15px;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
